<p>
    <table align="center">
        <tr>
            <td align="center" style="vertical-align: top; padding:30">
                <font size="+2" color="#381050"><b>Страны:</b></font>
                <ul>
                    <li style="list-style: none"><a routerLink="/colombia"><font size="+2" color="#381050">Колумбия</font></a></li>
                    <li style="list-style: none"><a routerLink="/ecuador"><font size="+2" color="#381050">Эквадор</font></a></li>
                    <li style="list-style: none"><a routerLink="/kenya"><font size="+2" color="#381050">Кения</font></a></li>
                    <li style="list-style: none"><a routerLink="/russia"><font size="+2" color="#381050">Россия</font></a></li>
                </ul>
            </td>
        </tr>
    </table>