<p>
    <table align="center">
        <tr>
            <td align="center" style="vertical-align: top; padding:30">
                <font size="+2" color="#381050"><b>Типы упаковок:</b></font>
                <ul>
                    <li style="list-style: none"><a routerLink="/classic"><font size="+2" color="#381050">Классический</font></a></li>
                    <li style="list-style: none"><a routerLink="/basketbox"><font size="+2" color="#381050">Корзина</font></a></li>
                    <li style="list-style: none"><a routerLink="/ribbon"><font size="+2" color="#381050">Лента</font></a></li>
                    <li style="list-style: none"><a routerLink="/original"><font size="+2" color="#381050">Оригинальный</font></a></li>
                    <li style="list-style: none"><a routerLink="/glass"><font size="+2" color="#381050">Стекло</font></a></li>
                    <li style="list-style: none"><a routerLink="/hatbox"><font size="+2" color="#381050">Шляпная коробка</font></a></li>
                    <li style="list-style: none"><a routerLink="/box"><font size="+2" color="#381050">Ящик</font></a></li>
                </ul>
            </td>
        </tr>
    </table>